<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--singleton是spring容器的默认作用域-->
    <bean id="scope" class="com.ssm.scope.Scope" scope="singleton" />
    <!--XML装配的构造注入方法-->
    <bean id="user1" class="com.ssm.assemble.User">
        <constructor-arg index="0" value="zhangsan" />
        <constructor-arg index="1" value="11111" />
        <constructor-arg index="2">
            <list>
                <value>"constructorValue1"</value>
                <value>"constructorValue2"</value>
            </list>
        </constructor-arg>
    </bean>
    <!--XML装配的设值注入方法-->
    <bean id="user2" class="com.ssm.assemble.User">
        <property name="userName" value="lisi"></property>
        <property name="passWord" value="22222"></property>
        <property name="list">
            <list>
                <value>"listValue1"</value>
                <value>"listValue2"</value>
            </list>
        </property>
    </bean>
</beans>